.footer {
  background: #050505;

  padding-top: 80px;

  border-top: 1px solid rgba(255,208,0,0.08);
}

.footer-container {
  width: 90%;

  margin: auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 50px;

  padding-bottom: 50px;
}

/* BRAND */

.footer-brand h2 {
  color: white;

  font-size: 2rem;

  margin-bottom: 20px;
}

.footer-brand span {
  color: #ffd000;
}

.footer-brand p {
  color: #bdbdbd;

  line-height: 1.8;
}

/* LINKS */

.footer-links h3,
.footer-contact h3 {
  color: #ffd000;

  margin-bottom: 20px;
}

.footer-links {
  display: flex;

  flex-direction: column;
}

.footer-links a {
  color: #ccc;

  text-decoration: none;

  margin-bottom: 12px;

  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #ffd000;

  transform: translateX(5px);
}

/* CONTACT */

.footer-contact p {
  color: #ccc;

  margin-bottom: 15px;
}

/* BOTTOM */

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.06);

  text-align: center;

  padding: 20px;

  color: #888;

  font-size: 0.95rem;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .footer-links {
    align-items: center;
  }
}

.footer {
  min-height: auto !important;
}

.footer-container {
  padding-top: 20px;
}

.footer-icon {
  color: #ffd000;
  margin-right: 8px;
}